<section class="py-24">
  <div class="mx-auto max-w-[1200px]">
    <div class="mx-auto max-w-5xl text-center space-y-6">
      <h2 class="text-4xl font-semibold uppercase lg:text-6xl">
        Miejsce
      </h2>
      <p>
        Palazzo Brancaccio to imponujący pałac zlokalizowany w sercu Rzymu, przy Viale del Monte Oppio 7, tuż obok Koloseum i Bazylik San Giovanni oraz Santa Maria Maggiore. Wybudowany w latach 1880–1890 na zlecenie amerykańskiej arystokratki Mary Elizabeth Field, żony księcia Salvatore Brancaccio, będziecy ostatnią tak reprezentacyjną rezydencją w obrębie Murów Aurelijańskich. Architektura pałacu łączy styl neorenesansowy z bogatym neobarokowym wnętrzem, dekorowanym stiukami, złoceniami oraz freskami autorstwa Francesco Gaia. Wewnątrz znajdują się m.in. Sala Aniołów, Sala Arazzi, Galeria Luster i Sala Wielka – wielowymiarowe przestrzenie o wysokich, ozdobnych sufitach, lustrach i kryształowych żyrandolach. W ogrodzie pałacowym wznosi się nymfeum oraz stare drzewa i fontanny, a tzw. Casina di Caccia pełniła rolę eleganckiego „Coffee House”.
      </p>
      <p>
        Przez lata służył jako tło dla filmów („Roman Holiday”, „Wielkie Piękno”) oraz ekskluzywnych przyjęć.
      </p>
      <p>
        Dziś Palazzo Brancaccio pełni funkcję przestrzeni kulturalno‑eventowej: można tu zwiedzać odnowione wnętrza (Spazio Field), uczestniczyć w wystawach, bankietach, kolacjach, recitalach i kameralnych spektaklach. Miejsce robi ogromne wrażenie.
      </p>
    </div>
    <div class="grid grid-cols-1 xl:grid-cols-[40%_60%]">
  
    </div>
  </div>
</section>
